<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Brazuca Planos de Streaming</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <header>
        <h1>Brazuca</h1>
    <header>
        <h1>Escolha o seu plano</h1>
    </header>

    <main>
        <section class="planos">
            <div class="plano" id="premium">
                <h2>Premium</h2>
                <ul>
                    <li>Qualidade HD</li>
                    <li>2 Telas simultâneas</li>
                    <li>Sem anúncios</li>
                    <li>R$ 19,90/mês</li>
                </ul>
                <button onclick="window.location.href='/plano1'">Escolher Plano</button> 
            </div>

            <div class="plano" id="gold">
                <h2>Gold</h2>
                <ul>
                    <li>Qualidade Ultra HD</li>
                    <li>4 Telas simultâneas</li>
                    <li>Sem anúncios</li>
                    <li>R$ 29,90/mês</li>
                </ul>
                <button onclick="window.location.href='/plano2'">Escolher Plano</button>
            </div>

            <div class="plano" id="platinum">
                <h2>Platinum</h2>
                <ul>
                    <li>Qualidade 4K</li>
                    <li>6 Telas simultâneas</li>
                    <li>Sem anúncios</li>
                    <li>R$ 39,90/mês</li>
                </ul>
                <button onclick="window.location.href='/plano3'">Escolher Plano</button>

            </div>
        </section>
    </main>
</body>


</html>